* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #ffffff;
}

.nav-bar {
  width: 100%;
  height: 100px;
  background: #ff5f15;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.hero-section {
  background: url('/assets/images/about-us-img.jpeg') no-repeat center/cover;
  width: 100%;
  height: 70vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70vh;
  background: rgba(0, 0, 0, 0.5); /* Black overlay with 50% opacity */
}

.hero-container {
  color: white;
  position: relative;
  z-index: 2;
}

.hero-container h3 {
  padding: 10px 0;
}

.about-us {
  padding: 50px;
}

.about-container {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.about-left {
  width: 40%;
  height: 500px;
  background: #ff5f15;
  border-radius: 10px;
}

.about-right {
  width: 60%;
  padding: 50px 20px;
}

.about-right h2 {
  color: #ff5f15;
}

.about-right p {
  padding: 20px 0;
}

/* Our Story Section */
.our-story {
  padding: 50px;
}

.our-story-container {
  display: flex;
  position: relative;
}

.our-story-left {
  width: 50%;
}

.our-story-left h2 {
  color: #ff5f15;
}

.our-story-left p {
  padding: 20px 0;
}

.our-story-right {
  width: 40%;
  height: 450px;
  position: relative;
  background: #ff5f15;
  border-radius: 10px;
  padding: 50px 20px;
  top: 80px;
  left: 40px;
}

.our-story-right img {
  width: 95%;
  max-width: 100%;
  height: 80%;
  position: absolute;
  border-radius: 10px;
  top: 50px;
  right: -30px;
  object-fit: cover;
}

/* Our Community */

.our-community {
  padding: 50px;
}

.community-container {
  display: flex;
  gap: 50px;
}

.community-left {
  width: 45%;
  height: 400px;
  background: #ff5f15;
  position: relative;
  border-radius: 10px;
}

.community-left img {
  position: absolute;
  width: 90%;
  height: 100%;
  border-radius: 10px;
  top: 20px;
  right: -20px;
}

.community-right {
  width: 50%;
  padding: 30px 20px;
}

.community-right h2 {
  color: #ff5f15;
}

.community-right p {
  padding: 20px 0;
}

/* Community Page */
.container-community-page {
  padding: 30px 50px;
}
.container-community-page h1 {
  padding: 20px 20px 0 0;
}
.container-community-page h2 {
  padding: 20px 50px 20px 0;
  color: #ff5f15;
}

.container-community-page h3 a {
  color: black;
}

.container-community-page p {
  width: 65%;
  padding: 0 0 20px 0;
}

.container-community-page p.sub-part {
  padding: 0 0;
}

.about-us-page {
  color: black;
}

footer {
  padding: 50px;
  width: 100%;
  height: 100px;
  background: #ff5f15;
  margin-top: 30px;
}

/* Media Query */

@media (max-width: 950px) {
  .our-story-right img {
    width: 100%;
  }
}

/* Max-width 500px */

@media (max-width: 500px) {
  .about-us {
    padding: 20px 10px;
  }

  .about-left {
    display: none;
  }

  .about-right {
    width: 100%;
    padding: 20px 20px;
  }

  .our-story {
    padding: 0 10px;
  }

  .our-story-left {
    width: 100%;
    padding: 0 20px;
  }

  .our-story-right {
    display: none;
  }

  .our-community {
    padding: 20px 10px;
  }

  .community-left {
    display: none;
  }

  .community-right {
    width: 100%;
    padding: 20px 20px;
  }
}

/* Max-width: 425px */
@media (max-width: 425px) {
  .about-us {
    padding: 20px 0;
  }

  .about-left {
    display: none;
  }

  .about-right {
    width: 100%;
    padding: 20px;
  }

  .our-story {
    padding: 0 5px;
  }

  .our-story-left {
    width: 100%;
  }

  .our-story-right {
    display: none;
  }

  .our-community {
    padding: 20px 20px;
  }

  .community-left {
    display: none;
  }

  .community-right {
    width: 100%;
    padding: 20px 0;
  }
}

/* Media Query for Communinity Page */

@media (max-width: 768px) {
  .container-community-page {
    padding: 20px 25px;
  }

  .container-community-page p {
    width: 90%;
  }
}

/* Media Query @425px */
@media (max-width: 425px) {
  .container-community-page h1 {
    padding: 20px 0;
  }

  .container-community-page h2 {
    padding: 20px 0;
  }

  .container-community-page p {
    width: 100%;
  }
}

/* Media Query @320px */

@media (max-width: 320px) {
  .container-community-page {
    padding: 0 20px;
  }

  .container-community-page h1 {
    font-size: 20px;
  }

  .container-community-page h2 {
    /* padding: 20px 0; */
    font-size: 18px;
  }

  .container-community-page p {
    /* padding: 20px 0; */
    font-size: 15px;
  }
}
